<form [formGroup]="userForm" (ngSubmit) = "onSubmit()">
<label for="firstName">Name: </label>
<input id="firstName" type="text" name="firstName"  formControlName="firstName" />
<div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)" style="color: red;" class="alert alert-danger">
    <div *ngIf="firstName.errors?.['required']">
     Name required.
    </div>
    <div *ngIf="firstName.errors?.['minlength']">
      Too short for Full Name
    </div>
  </div>



<label for="valNumber">Number: </label>
<input id="valNumber" type="number" name="valNumber" formControlName="valNumber" />
<div *ngIf="valNumber.invalid && (valNumber.dirty || valNumber.touched)" style="color: red;" class="alert alert-danger">
  <div *ngIf="valNumber.errors?.['required']">
   Number is required.
  </div>
  <div *ngIf="valNumber.errors?.['pattern']">
    Too short
  </div>
</div>

<label for="email">Email: </label>
<input id="email" type="email" required  formControlName="email" />
<div *ngIf="email.invalid && (email.dirty || email.touched)" style="color: red;" class="alert alert-danger">
  <div *ngIf="email.errors?.['required']">
   Email is required.
  </div>
  <div *ngIf="email.errors?.['email']">
    Enter valid email
  </div>
</div>


<!-- <p>Name Value: {{ name.value }}</p>
<p>Number Value: {{ val.value }}</p>
<p>Email Value: {{ email.value }}</p> -->


<button type="button"  [disabled]="!userForm.valid" >Update Name</button>
</form>
<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->
