label {
  font-weight: bold;
  padding-bottom: .5rem;
  padding-top: 1rem;
  display: inline-block;
}

button {
  max-width: 300px;
}

 #val{
  height: 28px;
  width: 388px;
}

#valNumber{
  height: 28px;
  width: 388px;
}
#email{
  height: 28px;
  width: 388px;
} 

#zip{
  width: 248px;
  height: 29px;
}

/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
*/