<form [formGroup]="form" >
<label for="name">Name: </label>
<input id="name" type="text" required  formControlName="name" />
<div
  *ngIf="name.invalid && (name.dirty || name.touched)"
  class="alert alert-danger" style="color: red;"
>
  <div *ngIf="name.errors?.['required']" style="color: red;">Name is required.</div>
  <div *ngIf="name.errors?.['minlength']" style="color: red;">
    Name must be at least 4 characters long.
  </div>
</div>

<label for="val">Number: </label>
<input id="val" type="number" required formControlName="val" />
<div
  *ngIf="val.invalid && (val.dirty || val.touched)"
  class="alert alert-danger" style="color: red;"
>
  <div *ngIf="val.errors?.['required']" style="color: red;">
    Number is required.
  </div>
  <div *ngIf="val.errors?.['minlength']" style="color: red;">
    Number must be at least 8 digit long.
  </div>
</div>


<label for="email">Email: </label>
<input id="email" type="email" required  formControlName="email" />
<div
  *ngIf="email.invalid && (email.dirty || email.touched)"
  class="alert alert-danger" style="color: red;"
>
  <div *ngIf="email.errors?.['required']" style="color: red;">
    Email is required.
  </div>
  <div *ngIf="email.errors?.['pattern']" style="color: red;">
    Email contain special characters
  </div>
</div>

<div formGroupName="address">
    <h2>Address</h2>
    <label for="street">Street: </label>
    <input id="street" type="text" formControlName="street">
  
    <label for="city">City: </label>
    <input id="city" type="text" formControlName="city">
  
    <label for="state">State: </label>
    <input id="state" type="text" formControlName="state">
  
    <label for="zip">Zip Code: </label>
    <input id="zip" type="number" required formControlName="zip">
  </div>


<p> Value: {{ form.value  | json}}</p>
<p> Status {{ form.status }}</p>
<!-- <p>Number Value: {{ val.value }}</p>
<p>Email Value: {{ email.value }}</p> -->


<button type="button"  [disabled]="!form.valid" >Update Name</button>
</form>
<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->
